include ../particles/head
body
    .wrapper
        include ../particles/header

        section.container
            h2.invisible

        include ../particles/footer

        include ../particles/gnb

        //- script(src="js/main.js") 
