//- layout-full.pug
//- FULL SIZE layout. NO header and footer. only contents
doctype html
html(lang="ko")
    include ../particles/head

    body
        div.wrapper
            article.container.full
                block contents