include ../particles/head
body
    .wrapper
        include ../particles/header

        section.container
            h2.invisible
            article.section 
                h3.title 타이틀 테스트
                ul.tab
                    li 이게 뭐냐냐냐 테스트테스트
                    li 테스트

        include ../particles/footer

        include ../particles/gnb

        //- script(src="js/main.js") 
