include ../particles/head
link(rel="stylesheet", href="/assets/stylesheets/styles.css", type="text/css")
body
    .wrapper
        include ../particles/header

        section.container
            h2.invisible

        include ../particles/footer

        include ../particles/gnb

        //- script(src="js/main.js") 
