//- layout-full.pug
//- FULL SIZE layout. NO header and footer. only contents

doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | MY GULP
        link(rel="shortcut icon", href="#")
        link(rel="stylesheet", href="./assets/stylesheets/styles.css", type="text/css")

    body
        div.wrapper
            article.container.full
                block contents
        //- script(src="./assets/scripts/ui.js")
        script(src="./assets/scripts/ui.slide.js")