doctype html
html(lang="ko")
    include ../particles/head

    body
        .wrapper
            block content
            article.container
                section(style="padding: 8rem 2.4rem 2rem")
                    block title
                        h2 Sign Up
                    p.subtext Enter your details below and free sign up
                section.section.bg
                    h3.invisible 회원가입
                    form.form
                        div.field
                            label.label 이메일
                            p.input
                                input(type="text")
                                button.delete(type="button")
                                    i.icon 전체삭제
                        div.field
                            label.label 패스워드
                            p.input
                                input(type="password")
                        div.field
                            block button
                            //- button.btn.btn-primary.btn-block(type="submit")
                            //-     span Creat account
                        block checkbox
                            //- div.checkbox(style="margin-top:1.6rem")
                            //-     label By creating an account you have to agree with our them and condication.
                            //-         input(type="checkbox")
                    p(style="margin-top:2.4rem")
                        a.text(href="#") Already have an account？
