//
// Layout
// --------------------------------------------------

/* Layout */
.wrapper {
    width: 100%;
    height: 100%;
    font-size: $font-size-base;
    background-color: $gray-lighter;
    overflow-x: hidden;
    // padding: 0 2.4rem;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: $area-click;
    border-bottom: 1px solid $gray-light;
    background-color: $white;
    z-index: $level-1;
    .title {
        flex: 1;
        text-align: center;
        font-size: 1.6rem;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
    &.fullpage {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 2rem;
        background-color: $white;
    }
}

.section {
    padding: 0 $area-padd;
    &.bg {
        flex: auto;
        background-color: $white;
        border-radius: $radius-base $radius-base 0 0;
    }
    .title {
        font: {
            size: $font-size-regular;
            weight: $font-weight-bold
        }
        line-height: $line-height-text;
    }
    .text {
        color: $gray-dark;
        font-size: $font-size-medium;
        line-height: $line-height-text;
        margin-top: 2rem;
    }
}

.aside {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.gnb {
    // padding: $area-padd 0;
    background-color: $white;
    padding: 1rem 0 2.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0px 2px 15px rgba(184, 184, 210, 0.5);
    ul {
        display: flex;
        li {
            display: inline-flex;
            flex: 1;
            justify-content: center;
        }
    }
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        // padding: 1.5rem;
        z-index: 0;
        transition: transform 0.4s ease-in-out;
        transform: translateX(var(--translate-main-slider));
    }
    
    .slider__item {
        display: block;
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        transition: background-color 0.4s ease-in-out;
        background-color: $brand-primary;
    }
}

.gnb__item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    // width: $area-click;
    // height: $area-click;
    height: 6rem;
    font-size: $font-size-base;
    // color: $gray-base;
    border-radius: 50%;
    justify-content: center;
    transition: color 0.2s ease-in-out;
    &:hover ,
    &.is-active {
        color: $brand-primary;
        svg {
            fill: $brand-primary;
        }
    }
    svg {
        width: 2.4rem;
        margin-bottom: 1rem;
        transform: translate(0, 0);
        // fill: $gray-lighter;
    }
}


.footer {
    color: $gray;
    text-align: center;
    padding: 10px 0;
    // border-top: 1px solid $gray-lighter;
    margin-top: 10px;
}