//
// Pavigation
// --------------------------------------------------

.pavigation {
    display: flex;
    justify-content: center;
    margin-top: 5.3rem;
    li {
        display: block;
        width: .9rem;
        height: .5rem;
        margin: .5rem;
        font-size: 0;
        border-radius: .5rem;
        background-color: $brand-tertiary;
        cursor: pointer;
        transition: width .2s ease-in-out;
        &.is-active {
            width: 2.8rem;
            background-color: $brand-primary;
        }
    }
}