//
// Slide
// --------------------------------------------------

.slide {
    width: 100%;
    overflow-y: hidden;
    touch-action: pan-y;
    .btn-skip {
        position: absolute;
        top: 6vw;
        right: 1.6vw;
    }
}

.slide__innr {
    display: flex;
    width: 300%;
    // padding-bottom: 1rem;
    overflow-x: auto;
    transition-property: transform;
    li {
        // position: relative;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}