//
// STYLE TEST!!!
// --------------------------------------------------

.illust {
    display: block;
    max-width: 260px;
    margin: 0 auto 3.4rem;
    border-radius: 6rem;
    background-color: #CDECFE;
    transition: background .2s ease-in-out;
    &.color2 {
        background-color: $white-green;
    }
    img {
        display: inline-block;
        width: 100%;
    }
}
