//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $font-weight-medium;
    line-height: $line-height-head;
}

h2, .h2 { font-size: $font-size-large; }

.subtext {
    color: $gray;
    font: {
        size: $font-size-small;
    }
    line-height: $line-height-text;
}
