$sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Base(Gray) and brand colors.
$brand-primary:          #3D5CFF !default;
$brand-secondary:        #FFEBF0 !default;
$brand-tertiary:         #EAEAFF !default;

$black:                  #1F1F39 !default;
$gray-dark:              #858597 !default;
$gray:                   #B8B8D2 !default;
$gray-light:             #F4F3FD !default;
$gray-lighter:           #F0F0F2 !default;

$white:                  #FFFFFF !default;
$orange:                 #FF6905 !default;
$green:                  #38C875 !default;

 
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #F6F8FF !default;
//** Global text color on `<body>`.
$text-color:            $black !default;

//** Global textual link color.
$link-color:            $black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $black !default;
//** Link hover decoration.
$link-hover-decoration: none !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base: 'Spoqa Han Sans Neo', 'Malgun Gothic', '맑은 고딕', Helvetica, Arial, sans-serif !default;

//** Font size
$font-size-reset:         62.5% !default; // https://mikkeller.tistory.com/25
$font-size-base:          1.4rem !default; //14px
$font-size-large:         $font-size-base * 2.35 !default;
$font-size-medium:        $font-size-base * 1.15 !default;
$font-size-regular:       $font-size-base * 1.5 !default;
$font-size-small:         $font-size-base * 0.86 !default;

//** Font weight
$font-weight-base:        400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1 !default;
//** `line-height` for use in heading title.
$line-height-head:        1.2 !default;
//** `line-height` for use in text paragraphs.
$line-height-text:        1.4 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;

//** Letter-spacing
// $letter-spacing-base: -.4px !default;


//== Number
//
//## Layout amount.
$area-click:     4.5rem !default; //ios: 30px/44px/50px, aos: 36px/48px/56px  https://brunch.co.kr/@chulhochoiucj0/23
$area-padd:      2.4rem !default;


$radius-base: 12px;

// z-index
$level-0: 9999;
$level-1: 100;