$sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Base(Gray) and brand colors.

$black:                  #141414 !default;
$gray-base:              #858585 !default; // font base
$gray-darker:            #b9b9b9 !default;
$gray-dark:              #bfbfbf !default;
$gray:                   #dadada !default;
$gray-light:             #e6e6e6 !default; // disabled
$gray-lighter:           #eee !default;    // line color

$white:                  #fff !default;
$transparent:              transparent !default;

$brand-primary:          #1fbda5 !default;
$brand-secondary:        #45608d !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #F6F8FF !default;
//** Global text color on `<body>`.
$text-color:            $black !default;

//** Global textual link color.
$link-color:            $black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $black !default;
//** Link hover decoration.
$link-hover-decoration: none !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base: 'Spoqa Han Sans Neo', 'Malgun Gothic', '맑은 고딕', Helvetica, Arial, sans-serif !default;

//** Font size
$font-size-reset:         62.5% !default; // https://mikkeller.tistory.com/25
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.2)) !default;
$font-size-medium:        ceil(($font-size-base * 1.1)) !default;
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px

//** Font weight
$font-weight-base:        400 !default;
$font-weight-medium:      500 !default;
$font-weight-bold:        700 !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1 !default;
//** `line-height` for use in text paragraphs.
$line-height-text:        1.4 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;

//** Letter-spacing
// $letter-spacing-base: -.4px !default;


//== Number
//
//## Layout amount.
$area-click:     4.5rem !default; //ios: 30px/44px/50px, aos: 36px/48px/56px  https://brunch.co.kr/@chulhochoiucj0/23
$area-padd:      .5rem !default;