aside.aside
    h2.invisible menu
    nav.gnb
        ul
            li
                button.gnb__item.gnbItem(type="button")
                    svg(viewBox="0 0 19 20", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M8.29841 1.22996C9.00952 0.696623 9.9873 0.696623 10.6984 1.22996L17.6984 6.47996C18.202 6.85766 18.4984 7.45044 18.4984 8.07996V17.58C18.4984 18.6845 17.603 19.58 16.4984 19.58H2.49841C1.39384 19.58 0.498413 18.6845 0.498413 17.58V8.07996C0.498413 7.45044 0.794801 6.85767 1.29841 6.47996L8.29841 1.22996Z")
                    span Home
            li
                button.gnb__item.gnbItem(type="button")
                    svg(viewBox="0 0 17 21", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.498413 3.20496C0.498413 1.5481 1.84156 0.204956 3.49841 0.204956H14.4984C15.603 0.204956 16.4984 1.10039 16.4984 2.20496V15.195C16.4984 15.3625 16.4607 15.5165 16.3856 15.6666L15.8401 16.7577C15.6993 17.0393 15.6993 17.3706 15.8401 17.6522L16.3838 18.7397C16.457 18.8787 16.4984 19.037 16.4984 19.205C16.4984 19.7572 16.0507 20.205 15.4984 20.205H3.49841C1.84156 20.205 0.498413 18.8618 0.498413 17.205V3.20496ZM3.49841 16.205H13.906C13.6773 16.8518 13.6773 17.5582 13.906 18.205H3.49841C2.94613 18.205 2.49841 17.7572 2.49841 17.205C2.49841 16.6527 2.94613 16.205 3.49841 16.205ZM6.49841 5.20496C5.94613 5.20496 5.49841 5.65267 5.49841 6.20496C5.49841 6.75724 5.94613 7.20496 6.49841 7.20496H10.4984C11.0507 7.20496 11.4984 6.75724 11.4984 6.20496C11.4984 5.65267 11.0507 5.20496 10.4984 5.20496H6.49841Z")
                    span Course
            li
                button.gnb__item.gnbItem(type="button")
                    svg(viewBox="0 0 21 19", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.498413 3.73401C0.498413 2.07715 1.84156 0.734009 3.49841 0.734009H17.4984C19.1553 0.734009 20.4984 2.07715 20.4984 3.73401V13.734C20.4984 15.3909 19.1553 16.734 17.4984 16.734H13.8012L11.1918 18.4736C10.7719 18.7535 10.2249 18.7535 9.80504 18.4736L7.19564 16.734H3.49841C1.84156 16.734 0.498413 15.3909 0.498413 13.734V3.73401ZM8.49841 9.23401C8.49841 10.0624 7.82684 10.734 6.99841 10.734C6.16999 10.734 5.49841 10.0624 5.49841 9.23401C5.49841 8.40558 6.16999 7.73401 6.99841 7.73401C7.82684 7.73401 8.49841 8.40558 8.49841 9.23401ZM13.9984 10.734C14.8268 10.734 15.4984 10.0624 15.4984 9.23401C15.4984 8.40558 14.8268 7.73401 13.9984 7.73401C13.17 7.73401 12.4984 8.40558 12.4984 9.23401C12.4984 10.0624 13.17 10.734 13.9984 10.734Z")
                    span Message
            li
                button.gnb__item.gnbItem(type="button")
                    svg(viewBox="0 0 19 21", xmlns="http://www.w3.org/2000/svg")
                        path(d="M9.49841 0.734009C6.73699 0.734009 4.49841 2.97259 4.49841 5.73401C4.49841 8.49543 6.73699 10.734 9.49841 10.734C12.2598 10.734 14.4984 8.49543 14.4984 5.73401C14.4984 2.97259 12.2598 0.734009 9.49841 0.734009Z")
                        path(d="M5.49841 12.734C2.73699 12.734 0.498413 14.9726 0.498413 17.734V18.734C0.498413 19.8386 1.39384 20.734 2.49841 20.734H16.4984C17.603 20.734 18.4984 19.8386 18.4984 18.734V17.734C18.4984 14.9726 16.2598 12.734 13.4984 12.734H5.49841Z")
                    span Account