section.modal
    h2.invisible Modal
    section.modal__innr
        h3.title--level3 Search Filter
            section.section
                h4.title--level4 Categories
            section.section
                h4.title--level4 Price
            div.btn-group.ratio5
                button.btn.btn-default(type="button")
                    span Clear
                button.btn.btn-primary(type="button")
                    span Apply Filter