section.modal
    h2.invisible Modal
    section.toast
        h3.title--level3(style="padding: 1rem 2rem") Search Filter
        section.section
            h4.title--level4 Categories
            ul.list-tag
                li.is-on
                    button.btn.btn-tag(type="button") Design
                - var list = ['Painting', 'Coding', 'Music', 'Visual identiy', 'Mathmatics']
                each item in list 
                    li
                        button.btn.btn-tag(type="button")= item
        section.section
            h4.title--level4 Price
            div.rangebar 
                input(type="range" id="inputLeft" min="1" max="100" value="1")
                input(type="range" id="inputRight" min="1" max="100" value="100")
                p.track
                    span.range
                    span.thumb.left
                    span.thumb.right
        section.section
            h4.title--level4 Duration
            ul.list-tag
                li.is-on
                    button.btn.btn-tag(type="button") 3-8 Hours
                li 
                    button.btn.btn-tag(type="button") 8-14 Hours
                li 
                    button.btn.btn-tag(type="button") 14-20 Hours
                li 
                    button.btn.btn-tag(type="button") 20-24 Hours
                li 
                    button.btn.btn-tag(type="button") 24-30 Hours
        div.btn-group.ratio5(style="padding: 0 2rem")
            button.btn.btn-default(type="button")
                span Clear
            button.btn.btn-primary(type="button")
                span Apply Filter