//- page-a.pug
extends layout.pug

block content
h3.title--level3(style="padding: 1rem 2rem") Clocking in!
article.section 
    h4.title--level5 Record of this week 
    //- - var n = 1;
    //- ul
    //-     while n <= 7
    //-     li= n++
div.btn-group(style="padding: 0 1.6rem")
    button.btn.btn-primary(type="button")
                span Done
