h2.invisible onboarding
section.slider#slider
    h3.invisible slider
    ul.slider__list
        li
            span.illust.color1
                img(src="./assets/images/illust/onboard01.png" alt="" title="TEST")
            h4.title 인터페이스 확인을 위한 사이트입니다.
            p.text 본 페이지들은 화면 확인을 위한 개인 포트폴리오로 제작되었으며 기능은 동작하지 않습니다. 상단에 skip 버튼을 클릭하시면 더 많은 페이지를 볼 수 있습니다. 자세한 프로젝트 소스 확인은 
                a(href="https://github.com/guiyomi98" target="_black" title="https://github.com/guiyomi98" class="text_link") 깃허브
                span 에서 가능합니다.
        li
            span.illust.color2
                img(src="./assets/images/illust/onboard02.png" alt="Keep it simple, stupid." title="Keep it simple, stupid.")
            h4.title Keep it simple, stupid.
            p.text 어떤 바보라도 컴퓨터가 이해할 수 있는 코드를 작성할 수 있습니다. 훌륭한 프로그래머는 인간이 이해할 수 있는 코드를 작성합니다. 항상 간결하고 가독성 있는 코드를 작성하기 위해 노력합니다.
        li
            span.illust
                img(src="./assets/images/illust/onboard03.png")
            h4.title Build together.
            p.text 
    ul.pavigation
        li.is-active step 1
        li step 2
        li step 2
    a.btn-skip(href="./member.html" role="button") skip
div.btn-group.hidden
    a.btn.btn-primary(href="/./member.html" role="button")
        span Sign up
    button.btn.btn-default(type="button")
        span Log in
