extends templates/layout-form

append button
    a.btn.btn-primary.btn-block(href="./courses.html")
        span 확인

append checkbox
    div.checkbox(style="margin-top:1.6rem")
        label 체크박스 테스트 입니다. 확인을 클릭하여 다음페이지로 넘어가세요.
            input(type="checkbox")
