$sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Base(Gray) and brand colors.

$black:                  #141414 !default;
$gray-base:              #858585 !default; // font base
$gray-darker:            #b9b9b9 !default;
$gray-dark:              #bfbfbf !default;
$gray:                   #dadada !default;
$gray-light:             #e6e6e6 !default; // disabled
$gray-lighter:           #eee !default;    // line color

$white:                  #fff !default;

$brand-primary:          #1fbda5 !default;
$brand-secondary:        #45608d !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white !default;
//** Global text color on `<body>`.
$text-color:            $black !default;

//** Global textual link color.
$link-color:            $black !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $black !default;
//** Link hover decoration.
$link-hover-decoration: none !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-base: "SpoqaHanSansNeo", "맑은 고딕", "Malgun Gothic", Helvetica, Arial, sans-serif !default;

$font-size-base:          14px !default;

$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * .85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.4 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;